body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*h4:first-child{*/
/*    padding-bottom: 50px;*/
/*}*/
/*div {*/
/*border-radius:5px;*/
/*}*/
/*p {*/
/*font-family:arial;*/
/*font-size:14px;*/
/*margin-left:5px;*/
/*Margin-bottom:1px;*/
/*}*/
/*h4 {*/
/*font-weight:Bold;*/
/*font-family:arial;*/
/*margin-left:50px;*/
/*Margin-bottom:15px;*/
/*}*/

/*.jumbotron {*/
/*padding: 10em;*/
/*margin: 100;*/
/*}*/
/*.jumbotron {*/
/*  !*clear:left;*!*/
/*  height:25px;*/
/*  margin-top:20px;*/
/*  margin-right:20px;*/
/*  margin-bottom:2px;*/
/*  margin-left:20px;*/
/* }*/

/*.list-group-item-heading {*/
/*  !*clear:left;*!*/
/*  height:25px;*/
/*  margin-top:20px;*/
/*  margin-right:20px;*/
/*  margin-bottom:20px;*/
/*  margin-left:20px;*/
/* }*/

/*.list-group-item-text {*/
/*  clear:left;*/
/*  height:25px;*/
/*  margin-top:20px;*/
/*  margin-right:20px;*/
/*  margin-bottom:20px;*/
/*  margin-left:20px;*/
/* }*/
